/*imagen con atibuto alt*/
img[alt]{
	border: 5px solid blue;
}
/*imagen con atributo scr cadena exacta*/
img[src="img/alerta.png"]{
	width: 400px;ß
}
/*^=circunflejo*/
/*imagen con atributo src con el inicio de la cadena*/
img[src^="i"]{
	width: 150px;
}
/*imagen atributo src al final de la cadena*/
img[src$="png"]{
	width: 250px;
}
/*imagen con el atributo src en cualquier parte de la cadena*/
img[src*="mg"]{
	width: 1000px;
}
/*el caracter ~ indica que estos selectores estan separados por espacios*/
article[class~="resaltado"]{
	border: 1px dashed blue;
}
article[class~="archivo"]{
	border: 1px dashed blue;
}
article[class~="ingles"]{
	border: 1px dashed blue;
}
/*wl atributo id es una lista de valores 
separados por guiones, pero solo si el valor 
mas a la izquierda es ingles*/
article[id|="ingles"]{
	text-align: center;

}
/*selector de secundarios para 
seleccionar solamente el (los) <p> q
ue se encuentran inmediatamente despues del div;*/
div>p{
	color: blue;
}

/*todos los elementos p seran seleccionados*/
div p{
	color: red;
}
/*seleccionar solo el elemento p 
que esta inmediatamente despues 
del elemento h2 hermano adyacente*/
h2 + p{
	color: green;
}
h2~ p{
	color: gray;
}